body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

frameset {
    border: none;
}

frame {
    border: 2px solid #333;
}

/* Styling untuk setiap frame jika dibutuhkan */
frame[name="menu"] {
    background-color: #f4f4f4;
}

frame[name="left"] {
    background-color: #d6d6d6;
}

frame[name="content"] {
    background-color: #6dbafe;
}

frame[name="right"] {
    background-color: #d6d6d6;
}

h1, h2 {
    text-align: center;
    color: white;
}

p {
    text-align: center;
    font-size: 16px;
}

fieldset {
    border: 2px solid #0088ff;
    padding: 10px;
    margin: 10px;
    background-color: #fff;
}

legend {
    font-weight: bold;
    color: #0088ff;
}

ul {
    list-style-type: square;
    padding-left: 20px;
}

ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

ul li a:hover {
    color: #0088ff;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

table, th, td {
    border: 1px solid #000000;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #d6d6d6;
    color: rgb(0, 0, 0);
}

tr {
    background-color: #fffefe;
}